.sp_bold
 padding-top 1px
 overflow hidden
 text-overflow ellipsis
 white-space nowrap   
 color #000080
 font-weight bold

 .sp_text_bold
  padding-top 1px
  color #fff

.sp_input
  padding-left 5px
  box-sizing border-box
  border 1px solid #e6e6e6
  border-radius 4px

.div_index
  position absolute
  display flex
  justify-content center
  top 17px
  right 12px
  width 20px
  height 20px
  border 1px solid #3b85e6
  border-radius 10px
  text-align center
  align-items center
  font-size 12px

.div_text_s
  position absolute
  display flex
  justify-content center
  bottom 5px
  right 12px
  width 20px
  height 20px
  border 1px solid #3b85e6
  border-radius 10px
  text-align center
  align-items center
  font-size 12px
  color red